$body-bg: #f4f5f7;
$dark: #222222;
$green: #00b51b;
$green-message: #34d04c;
$light: #d0d5dd;
$placeholder: #667085;
$red-message: #e57373;
$red: #f14c40;
$red-outline: #fee4e2;
$violet: #7f56d9;
$violet-outline: #e9d7fe;
$white: #ffffff;
